.contact-container {
  display: flex;
  /* flex: 1; */
  /* width: 100%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-text {
  @apply text-[1.2rem] md:text-[2.75rem] pt-10;

  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;
}

.contact-cards {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 1rem 1rem;
}
.contact-cards .contact-card {
  min-width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fef4f5;

  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 25px #f2f7fb;
}
.contact-cards .contact-card img {
  width: 40px;
  height: 40px;
  margin: 0 0.7rem;
}

.p-text {
  @apply text-[0.8rem] md:text-[1rem] 2xl:text-[1.75rem];
  text-align: left;
  color: #6b7688;
  line-height: 1.5;
  font-weight: bold;
}

/* form  */
.contact-form {
  @apply flex justify-center items-center;
  width: 50%;
  flex-direction: column;
  margin: 0.5rem 1rem;
}
.contact-form div {
  width: 100%;

  margin: 0.25rem 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #edf2f8;

  transition: all 0.3s ease-in-out;
}
.contact-form div input,
textarea {
  width: 100%;
  /* @apply min-w-[280px] md:w-[100%]; */
  padding: 0.95rem;
  border: none;
  border-radius: 7px;
  background-color: #edf2f8;

  /* font-family: var(--font-base); */
  color: #313bac;
  outline: none;
}
.contact-form div textarea {
  @apply h-[100px] md:h-[170px];
  color: #313bac;
  padding: 0.95rem;
}
.contact-form div:hover {
  box-shadow: 0 0 25px #edf2f8;
}
.buttonForm {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  color: #ffffff;
  outline: none;
  margin: 2rem 0 0 0;

  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  cursor: pointer;

  /* &:hover {
      background-color: #2430af;
    } */
}
.buttonForm:hover {
  background-color: #2430af;
}
.gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#ad6ce5] via-[#f395ae] to-[#fab466];
}
