@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(30 41 59);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.App {
  @apply w-full h-[100svh];
  /* overflow-y: scroll; */
  /* scroll-snap-type: y mandatory; */
}
/* .scrollSection {
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */

.nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 12px 20px;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.nav-link.active::before {
  width: 100% !important;
}

/* About  card  */

/* card  */
.card-about {
  position: relative;
  /* display: grid;
  grid-template-columns: minmax(300px, 400px);
  grid-template-areas: 'image' 'text' 'stats';
  grid-template-rows: 250px 300px 20px; */
  display: flex;
  flex-wrap: wrap;
  background: #1d1d1d;
  color: white;
  text-align: justify;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
}
.card-about .card-image {
  background: radial-gradient(#fff0 0%, #fff0 40%, #1d1d1d 100%), url('./assets/img1.jpg');
  flex-basis: 300px;
  flex-grow: 99999;
  height: 30svh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-about .card-text {
  flex-basis: 600px;
  flex-grow: 1;
}
/* .card-about .card-image {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url('./assets/logo1.png');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
} */
.card-about .card-text {
  grid-area: text;
  margin: 25px;
}
.card-about .card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-about .card-text p {
  color: grey;
  font-size: 14px;
  font-weight: 300;
}
.card-about .card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card-about:after {
  content: '';
  background: linear-gradient(
        45deg,
        #ff0000 0%,
        #ff9a00 10%,
        #d0de21 20%,
        #4fdc4a 30%,
        #3fdad8 40%,
        #2fdad8 50%,
        #1c7fee 60%,
        #5f15f2 70%,
        #ba0cf8 80%,
        #fb07d9,
        90%,
        #ff0000 100%
      )
      repeat 0%,
    0% /300% 100%;
  position: absolute;
  inset: -5px;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px); /*or z-index */
  z-index: -1;
  @apply animate-pulse;
}
